In [1]:
# Student Name: Jam Furaque

In [2]:
# Lab Professor : Maziar Sojoudian

In [3]:
# Make an empty array of employees

In [4]:
employee_list = []

In [5]:
# Make a structure on printing employees

In [6]:
def display_employees():
  print("\n\n" + "All Employee Summary")
  print("| Employee ID | Employee Name | Employee Type | Years Worked | Total Purchased | Total Discounts | Employee Discount Number |")
  print("-------------------------------------------------------------------------------------------------------------------")
  for employee in employee_list:
    print(str(employee[0]) + ", " + employee[1] + ", " + employee[2] + ", " + str(employee[3])
              + ", " + str(employee[4]) + ", " + str(employee[5])+ ", " + str(employee[6]))

In [7]:
# Creating Employee

In [8]:
def create_employee():
  is_continue = True
  while is_continue:
    employee_id = int(input("Enter Employee ID: "))
    employee_name = input("Enter Employee Name: ")
    employee_type = input("Enter Employee Type: ")
    employee_years_worked = int(input("Enter Employee Total Years Working: "))
    employee_total_purchase = int(input("Enter Employee Total Purchased: "))
    employee_total_discount = int(input("Enter Employee's Total Discount: "))
    employee_discount_number = int(input("Enter Employee's Discount Number: "))

    employee = [employee_id, employee_name, employee_type, employee_years_worked, 0, 0, employee_discount_number]
    employee_list.append(employee)
    print("Employee successfully added!")

    user_input = input("Do you still want to add an employee? (YES/NO): ")
    if user_input == "NO":
      is_continue = False

In [9]:
create_employee()

Enter Employee ID: 1
Enter Employee Name: Kaido
Enter Employee Type: Hourly
Enter Employee Total Years Working: 3
Enter Employee Total Purchased: 0
Enter Employee's Total Discount: 0
Enter Employee's Discount Number: 11220
Employee successfully added!
Do you still want to add an employee? (YES/NO): NO

In [10]:
# Check if we have the employee

In [11]:
display_employees()

All Employee Summary
| Employee ID | Employee Name | Employee Type | Years Worked | Total Purchased | Total Discounts | Employee Discount Number |
-------------------------------------------------------------------------------------------------------------------
1, Kaido, Hourly, 3, 0, 0, 11220

In [12]:
# Now, lets apply these rules:
# Employee ID is unique within the list
# Employee Discount is unique within the list
# Null/empty value is not allowed for any of the fields

In [13]:
# Function to check for UNIQUE EMPLOYEE ID
def is_unique_employeeID(employee_list, new_employee_id):
  return all(employee[0] != new_employee_id for employee in employee_list)

In [14]:
# Function to check for UNIQUE DISCOUNT NUMBER
def is_unique_discount_number(employee_list, new_discount_id):
  return all(employee[6] != new_discount_id for employee in employee_list)

In [15]:
# Function for not to allow NULL / EMPTY values.
def get_valid_input(prompt_message):
  while True:
    user_input = input(prompt_message)
    if user_input:
      return user_input
    print("This field cannot be empty! Please try again.")

In [16]:
def create_employee():
    is_continue = True

    while is_continue:
        employee_id = int(get_valid_input("Enter Employee ID: "))

        # Check if the Employee ID is unique
        while not is_unique_employeeID(employee_list, employee_id):
            print("Employee ID must be unique. Please try again.")
            employee_id = int(get_valid_input("Enter Employee ID: "))

        employee_name = get_valid_input("Enter Employee Name: ")
        employee_type = get_valid_input("Enter Employee Type: ")
        employee_years_worked = int(get_valid_input("Enter Employee Total Years Working: "))
        employee_total_purchase = int(get_valid_input("Enter Employee Total Purchased: "))
        employee_total_discount = int(get_valid_input("Enter Employee's Total Discount: "))
        employee_discount_number = int(get_valid_input("Enter Employee's Discount Number: "))
        # Check if the Discount Number is unique
        while not is_unique_discount_number(employee_list, employee_discount_number):
            print("Discount Number must be unique. Please try again.")
            employee_discount_number = int(get_valid_input("Enter Employee's Discount Number: "))

        employee = [employee_id, employee_name, employee_type, employee_years_worked, 0, 0, employee_discount_number]
        employee_list.append(employee)
        print("Employee successfully added!")

        user_input = input("Do you still want to add an employee? (YES/NO): ")
        if user_input.upper() == "NO":
            is_continue = False

In [17]:
# Now let's check if we met these rules:
# Employee ID is unique within the list
# Employee Discount is unique within the list
# Null/empty value is not allowed for any of the fields
create_employee()

Enter Employee ID: 1
Employee ID must be unique. Please try again.
Enter Employee ID: 2
Enter Employee Name:
This field cannot be empty! Please try again.
Enter Employee Name: King
Enter Employee Type:
This field cannot be empty! Please try again.
Enter Employee Type: Manager
Enter Employee Total Years Working: 6
Enter Employee Total Purchased: 0
Enter Employee's Total Discount: 0
Enter Employee's Discount Number: 11220
Discount Number must be unique. Please try again.
Enter Employee's Discount Number: 11221
Employee successfully added!
Do you still want to add an employee? (YES/NO): NO

In [18]:
display_employees()

All Employee Summary
| Employee ID | Employee Name | Employee Type | Years Worked | Total Purchased | Total Discounts | Employee Discount Number |
-------------------------------------------------------------------------------------------------------------------
1, Kaido, Hourly, 3, 0, 0, 11220
2, King, Manager, 6, 0, 0, 11221

In [19]:
# Now, let's meet the expectations of these rules:
# •	Input must be number for Employee ID, Years Worked, and Employee Discount Number
# •	Input must be “hourly” or “manager” for Employee Type
# •	Input is not required for Total Purchased and Total Discounts when the employee is first created in the system, these fields should be assigned with a default value of 0.

In [20]:
# Function that defines input must be a number for Employee ID, Years Worked and Employee Discount Number
def get_valid_number(prompt_message):
    while True:
        user_input = input(prompt_message)
        if user_input.isdigit():
            return int(user_input)
        print("Invalid input! Please enter a valid integer.")

In [21]:
# Function to define the employee time whether it's HOURLY or MANAGER
def get_valid_type(prompt_message, valid_type):
  while True:
    user_input = input(prompt_message)
    if user_input in valid_type:
      return user_input
    print("Invalid input! Please provide appropriate values.")

In [22]:
def create_employee():
    is_continue = True

    while is_continue:
        employee_id = get_valid_number("Enter Employee ID: ")

        # Check if the Employee ID is unique
        while not is_unique_employeeID(employee_list, employee_id):
            print("Employee ID must be unique. Please try again.")
            employee_id = get_valid_number("Enter Employee ID: ")

        employee_name = get_valid_input("Enter Employee Name: ")
        valid_type = ['Hourly', 'hourly', 'HOURLY', 'Manager', 'manager', 'MANAGER']
        employee_type = get_valid_type("Enter Employee Type: ", valid_type)
        employee_years_worked = get_valid_number("Enter Employee Total Years Working: ")
        try:
          employee_total_purchase = int(input("Enter Employee Total Purchased: "))
        except ValueError:
          print("You provided nothing. Default value will be 0")
        try:
          employee_total_discount = int(input("Enter Employee's Total Discount: "))
        except ValueError:
          print("You provided nothing. Default value will be 0")
        employee_discount_number = get_valid_number("Enter Employee's Discount Number: ")
        # Check if the Discount Number is unique
        while not is_unique_discount_number(employee_list, employee_discount_number):
            print("Discount Number must be unique. Please try again.")
            employee_discount_number = get_valid_number("Enter Employee's Discount Number: ")

        employee = [employee_id, employee_name, employee_type, employee_years_worked, 0, 0, employee_discount_number]
        employee_list.append(employee)
        print("Employee successfully added!")

        user_input = input("Do you still want to add an employee? (YES/NO): ")
        if user_input.upper() == "NO":
            is_continue = False

In [23]:
# Check if we met the conditions:
# •	Input must be number for Employee ID, Years Worked, and Employee Discount Number
# •	Input must be “hourly” or “manager” for Employee Type
# •	Input is not required for Total Purchased and Total Discounts
#   when the employee is first created in the system, these fields should be assigned with a default value of 0.
create_employee()

Enter Employee ID: aa
Invalid input! Please enter a valid integer.
Enter Employee ID: 3
Enter Employee Name: Nami
Enter Employee Type: Part-Time
Invalid input! Please provide appropriate values.
Enter Employee Type: Hourly
Enter Employee Total Years Working:
Invalid input! Please enter a valid integer.
Enter Employee Total Years Working: 6
Enter Employee Total Purchased:
You provided nothing. Default value will be 0
Enter Employee's Total Discount:
You provided nothing. Default value will be 0
Enter Employee's Discount Number: 11223
Employee successfully added!
Do you still want to add an employee? (YES/NO): no

In [24]:
display_employees()

All Employee Summary
| Employee ID | Employee Name | Employee Type | Years Worked | Total Purchased | Total Discounts | Employee Discount Number |
-------------------------------------------------------------------------------------------------------------------
1, Kaido, Hourly, 3, 0, 0, 11220
2, King, Manager, 6, 0, 0, 11221
3, Nami, Hourly, 6, 0, 0, 11223

In [25]:
def create_employee():
    is_continue = True
    print("Create Employee Page" + "\n\n")
    while is_continue:
        employee_id = get_valid_number("Enter Employee ID: ")

        # Check if the Employee ID is unique
        while not is_unique_employeeID(employee_list, employee_id):
            print("Employee ID must be unique. Please try again.")
            employee_id = get_valid_number("Enter Employee ID: ")

        employee_name = get_valid_input("Enter Employee Name: ")
        valid_type = ['Hourly', 'hourly', 'HOURLY', 'Manager', 'manager', 'MANAGER']
        employee_type = get_valid_type("Enter Employee Type: ", valid_type)
        employee_years_worked = get_valid_number("Enter Employee Total Years Working: ")
        try:
          employee_total_purchase = int(input("Enter Employee Total Purchased: ") or 0)
        except ValueError:
          print("You provided nothing. Default value will be 0")
        try:
          employee_total_discount = int(input("Enter Employee's Total Discount: ") or 0)
        except ValueError:
          print("You provided nothing. Default value will be 0")
        employee_discount_number = get_valid_number("Enter Employee's Discount Number: ")
        # Check if the Discount Number is unique
        while not is_unique_discount_number(employee_list, employee_discount_number):
            print("Discount Number must be unique. Please try again.")
            employee_discount_number = get_valid_number("Enter Employee's Discount Number: ")

        employee = [employee_id, employee_name, employee_type, employee_years_worked, employee_total_purchase, employee_total_discount, employee_discount_number]
        employee_list.append(employee)
        print("Employee successfully added!")

        user_input = input("Do you still want to add an employee? (YES/NO): ")
        if user_input.upper() == "NO":
            is_continue = False

In [26]:
# Now, let's create the Item Page.

In [27]:
item_list = []

In [28]:
# Take note that we need to consider these restrictions:
# Item Number is unique within the list
#	Null/empty value is not allowed for any of the fields
#	Input must be number for Item Number and Item Cost

In [29]:
# Function to check for UNIQUE ITEM NUMBER
def is_unique_itemNumber(item_list, new_itemNumber):
  return all(item[0] != new_itemNumber for item in item_list)

In [30]:
def create_item():
  is_continue = True
  print("Create Item Page" + "\n\n")
  while is_continue:
    item_number = get_valid_number("Enter Item Number: ")

    while not is_unique_itemNumber(item_list, item_number):
      print("Employee ID must be unique. Please try again.")
      item_number = get_valid_number("Enter Item Number: ")
    item_name = get_valid_input("Enter the name of the item: ")
    item_cost = get_valid_number("Enter the cost of the item: ")

    item = [item_number, item_name, item_cost]
    item_list.append(item)

    user_input = input("Do you still want to add an item? (YES/NO): ")
    if user_input.upper() == "NO":
      is_continue = False

In [31]:
create_item()

Create Item Page


Enter Item Number: 11445
Enter the name of the item: Nike Shoes
Enter the cost of the item: 120
Do you still want to add an item? (YES/NO): yes
Enter Item Number: 11556
Enter the name of the item: Adidas Yeezy
Enter the cost of the item: 260
Do you still want to add an item? (YES/NO): no

In [32]:
def display_items():
  print("All Items Summary" + "\n")
  print("| Item Number | Item Name | Cost |")
  print("----------------------------------")
  for item in item_list:
    print(str(item[0]) + ", " + item[1] + ", " + str(item[2]))

In [33]:
display_items()

All Items Summary

| Item Number | Item Name | Cost |
----------------------------------
11445, Nike Shoes, 120
11556, Adidas Yeezy, 260

In [34]:
def make_purchase_page():
    while True:
        print("| Item Number | Item Name | Cost |")
        print("----------------------------------")
        for item in item_list:
            print(str(item[0]) + ", " + item[1] + ", " + str(item[2]))

        while True:
            employee_discount_number = get_valid_number("Enter Employee's Discount Number: ")

            # Find the employee with the entered discount number
            employee = next((emp for emp in employee_list if emp[6] == employee_discount_number), None)

            if employee:
                print(f"\nEmployee Information:\n{employee}\n")
                break
            else:
                print("Invalid employee discount number. Please try again.")

        while True:
            item_number = get_valid_number("Enter Item Number to purchase: ")

            # Find the item with the entered item number
            item = next((i for i in item_list if i[0] == item_number), None)

            if item:
                purchase_cost = item[2]

                if employee[2].lower() == 'manager':                    # Apply employee discount
                    purchase_cost *= (1 - 0.1)                          # 10% Additional Discount for Managers
                elif employee[2].lower() == 'hourly':
                    purchase_cost *= (1 - (employee[3] * 0.02))         # 2% discount per year for hourly employees, max 10%

                # Update employee's total purchase and total discount
                employee[4] += purchase_cost
                employee[5] += item[2]

                print(f"\nPurchase successful!\nTotal Cost: {purchase_cost}\nTotal Purchased by Employee: {employee[4]}\nTotal Discount for Employee: {employee[5]}\n")
                break
            else:
                print("Invalid item number. Please try again.")

        another_purchase = input("Another purchase? (YES/NO): ")
        if another_purchase.upper() != "YES":
          display_employees()
          go_to_menu = input("Do you want to go back to Main Menu? (YES/NO)")
          if go_to_menu.upper() == "YES":
            print("Returning to Main Menu.")
            break
          else:
            break

In [35]:
# Create a menu

In [36]:
def menu():
  print("--------------------------------")
  print("| 1 - Create Employee          |")
  print("| 2 - Create Item              |")
  print("| 3 - Make Purchase            |")
  print("| 4 - All Employee Summary     |")
  print("| 5 - Exit                     |")
  print("--------------------------------")

In [37]:
display_employees()

All Employee Summary
| Employee ID | Employee Name | Employee Type | Years Worked | Total Purchased | Total Discounts | Employee Discount Number |
-------------------------------------------------------------------------------------------------------------------
1, Kaido, Hourly, 3, 0, 0, 11220
2, King, Manager, 6, 0, 0, 11221
3, Nami, Hourly, 6, 0, 0, 11223

In [38]:
display_items()

All Items Summary

| Item Number | Item Name | Cost |
----------------------------------
11445, Nike Shoes, 120
11556, Adidas Yeezy, 260

In [39]:
def create_employee():
    is_continue = True

    while is_continue:
        employee_id = get_valid_number("Enter Employee ID: ")

        # Check if the Employee ID is unique
        while not is_unique_employeeID(employee_list, employee_id):
            print("Employee ID must be unique. Please try again.")
            employee_id = get_valid_number("Enter Employee ID: ")

        employee_name = get_valid_input("Enter Employee Name: ")
        valid_type = ['Hourly', 'hourly', 'HOURLY', 'Manager', 'manager', 'MANAGER']
        employee_type = get_valid_type("Enter Employee Type: ", valid_type)
        employee_years_worked = get_valid_number("Enter Employee Total Years Working: ")
        try:
          employee_total_purchase = int(input("Enter Employee Total Purchased: "))
        except ValueError:
          print("You provided nothing. Default value will be 0")
        try:
          employee_total_discount = int(input("Enter Employee's Total Discount: "))
        except ValueError:
          print("You provided nothing. Default value will be 0")
        employee_discount_number = get_valid_number("Enter Employee's Discount Number: ")
        # Check if the Discount Number is unique
        while not is_unique_discount_number(employee_list, employee_discount_number):
            print("Discount Number must be unique. Please try again.")
            employee_discount_number = get_valid_number("Enter Employee's Discount Number: ")

        employee = [employee_id, employee_name, employee_type, employee_years_worked, 0, 0, employee_discount_number]
        employee_list.append(employee)
        print("Employee successfully added!")

        user_input = input("Do you still want to add an employee? (YES/NO): ")
        if user_input.upper() == "NO":
            break

In [40]:
def main():
    while True:
      menu()
      choice = input("Enter your choice (1-5): ")

      if choice == "1":
        create_employee()
        go_to_menu = input("Do you want to go back to Main Menu? (YES/NO)")
        if go_to_menu.upper() != "YES":
          print("Exiting the program. Goodbye!")
          break
      elif choice == "2":
        create_item()
        go_to_menu = input("Do you want to go back to Main Menu? (YES/NO)")
        if go_to_menu.upper() != "YES":
          print("Exiting the program. Goodbye!")
          break
      elif choice == "3":
        make_purchase_page()
      elif choice == "4":
        display_employees()
        go_to_menu = input("Do you want to go back to Main Menu? (YES/NO)")
        if go_to_menu.upper() != "YES":
          break
      elif choice == "5":
        print("Exiting the program. Goodbye!")
        break
      else:
        print("Invalid choice. Please enter a valid option (1-5).")


if __name__ == "__main__":
    main()

--------------------------------
| 1 - Create Employee          |
| 2 - Create Item              |
| 3 - Make Purchase            |
| 4 - All Employee Summary     |
| 5 - Exit                     |
--------------------------------
Enter your choice (1-5): 4


All Employee Summary
| Employee ID | Employee Name | Employee Type | Years Worked | Total Purchased | Total Discounts | Employee Discount Number |
-------------------------------------------------------------------------------------------------------------------
1, Kaido, Hourly, 3, 0, 0, 11220
2, King, Manager, 6, 0, 0, 11221
3, Nami, Hourly, 6, 0, 0, 11223
Do you want to go back to Main Menu? (YES/NO)no

In [41]:
display_employees()

All Employee Summary
| Employee ID | Employee Name | Employee Type | Years Worked | Total Purchased | Total Discounts | Employee Discount Number |
-------------------------------------------------------------------------------------------------------------------
1, Kaido, Hourly, 3, 0, 0, 11220
2, King, Manager, 6, 0, 0, 11221
3, Nami, Hourly, 6, 0, 0, 11223

In [42]:
display_items()

All Items Summary

| Item Number | Item Name | Cost |
----------------------------------
11445, Nike Shoes, 120
11556, Adidas Yeezy, 260

In [ ]:
main()

--------------------------------
| 1 - Create Employee          |
| 2 - Create Item              |
| 3 - Make Purchase            |
| 4 - All Employee Summary     |
| 5 - Exit                     |
--------------------------------
Enter your choice (1-5): 4


All Employee Summary
| Employee ID | Employee Name | Employee Type | Years Worked | Total Purchased | Total Discounts | Employee Discount Number |
-------------------------------------------------------------------------------------------------------------------
1, Kaido, Hourly, 3, 0, 0, 11220
2, King, Manager, 6, 234.0, 260, 11221
3, Nami, Hourly, 6, 0, 0, 11223
4, Luffy, hourly, 4, 0, 0, 33221